body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}
